@import "tailwindcss";

@theme {
  --color-primary: #E66767;
  --color-primary-dark: #d05b5b;
  --color-bg-light: #FFF8F2;
  --color-bg-peach: #FFEEDB;
  --color-border-soft: #E66767;
  --color-accent: #E66767;
  --color-accent-light: #FFEEDB;
  --color-text-dark: #E66767;
  --color-text-muted: #E66767;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', system-ui, sans-serif;
  background-color: #FFF8F2;
  color: #E66767;
}

button,
input {
  font: inherit;
}

img {
  display: block;
}

